@{
    ViewData["Title"] = "Legacy Cycles";
}

<div id="homepage" class="@ViewBag.BodyClass">
    @ViewBag.ErrMsg
    <div class="content-mid">
        <h1>Welcome to Legacy Cycles</h1>
        <p>This is the upgraded version of the Legacy Cycle Store MVC application.</p>
    </div>
</div>
