@{
    ViewBag.Title = "Legacy Cycles";
    Layout = "_Layout";
}

<div id="homepage" class="">
    @ViewBag.ErrMsg
    <div class="content-mid">
        @{await Html.RenderPartialAsync("~/Views/SiteLayout/ContentLayout.cshtml");}
    </div>
</div>